/*----------------------------------------*/
/*  1.7 Header-v2
/*----------------------------------------*/

.header-v2 {
    position: relative;
    padding: 24px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--st-text-body);
    background: transparent;
    margin-bottom: -100px;
    z-index: 2;
    .header-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .button-wrapper {
            @media(max-width: 767px) {
                display: none;
            }
        }
        .primary-btn {
            border: 0;
            @media #{$xl,$lg,$md,$sm,$xs}{
                padding: 12px 16px;
            }
        }
        .header-offcanvas-menu {
            i {
                color: var(--st-common-white);
            }
        }
    }
    .main-menu nav ul li > a {
        color: var(--st-common-white);
    }
    .main-menu nav ul li:hover > a {
        color: var(--st-theme-primary);
    }
    .main-menu nav ul ul a {
        color: var(--st-heading-primary);
    }
    .main-menu nav >ul {
        >.menu-item-has-children {
            position: relative; 
            &::after {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                margin-top: 2px;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3e%3cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z'%3e%3c/path%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-size: contain;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                &::after {
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23FF5A3C'%3e%3cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z'%3e%3c/path%3e%3c/svg%3e");
                }
            }
        }
    }
    .main-menu nav >ul > li {
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            bottom: -24px;
            content: '';
            width: 0%;
            height: 1px;
            background: var(--st-theme-primary);
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}

.hero-class {
    padding-top: 200px;
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}