/*----------------------------------------*/
/*  1.9 Menu
/*----------------------------------------*/

.main-menu {
    text-align: center;

    nav {
        ul {
            position: relative;
            text-align: center;
            @media #{ $lg } {
                text-align: center;
            }
            .menu-item-has-children {
                position: relative; 
                &::after {
                    content: '';
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    margin-top: 2px;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3e%3cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z'%3e%3c/path%3e%3c/svg%3e");
                    background-repeat: no-repeat;
                    background-size: contain;
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    &::after {
                        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23FF5A3C'%3e%3cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z'%3e%3c/path%3e%3c/svg%3e");
                    }
                }
            }
            ul {
                .menu-item-has-children {
                    &::after {
                        margin-right: 16px;
                        transform: translateY(-50%) rotate(-90deg);
                    }
                }
            }
            li {
                &:hover .submenu {
                    visibility: visible;
                    opacity: 1;
                    transform: scaleY(1);
                }

                &:hover .mega-menu {
                    transform: scaleY(1);
                    visibility: visible;
                    opacity: 1;
                    top: 52px;
                    width: 100%;
                }

                list-style: none;
                display: inline-block;
                margin-right: 40px;
                padding-right: 26px;
                position: relative;
                transition: all 0.3s ease-out 0s;
                &:last-child{
                    margin-right: 0;
                    padding-right: 0;
                }
                @media #{$xl} {
                    margin-right: 30px;
                }

                @media #{$lg} {
                    margin-right: 20px;
                    .p-lg-inherit {
                        position: inherit;
                    }
                }

                ul,
                ul ul {
                    position: absolute;
                    top: 50px;
                    left: 0;
                    width: 100%;
                    z-index: 99;
                    visibility: hidden;
                    opacity: 0;
                    transform-origin: top center;
                    transform: scaleY(0);
                    box-shadow: 0px 20px 30px rgba(3, 4, 28, 0.1);
                    transition: all 0.3s ease-out;
                    background: transparent;
                }
                ul ul {
                    top: 0 !important;
                }

                &:hover>ul {
                    visibility: visible;
                    opacity: 1;
                    transform: scaleY(1);
                }

                ul li {
                    position: relative;
                    ul {
                        transform: scaleY(0);
                        margin-left: 230px;
                    }
                    &:hover>ul {
                        visibility: visible;
                        opacity: 1;
                        transform: scaleY(1);
                    }
                }
                ul, 
                ul ul {
                    z-index: 99;
                    li{
                        margin-right: 0;
                        min-width: 230px;
                        border-bottom: 1px solid var(--st-border-3);
                        background: var(--st-common-white);
                        z-index: 99;
                        &:first-child{
                            border-top: 1px solid var(--st-border-3);
                        }
                    }
                }
                ul li a,
                ul ul li a {
                    display: block;
                    padding: 12px 24px;
                    color: var(--st-common-black);
                    text-transform: capitalize;
                    transition: all 0.3s ease-out;
                    font-family: var(--st-ff-menu);
                    font-size: var(--st-fz-btn);
                    line-height: var(--st-lh-btn);

                    &:hover {
                        color: var(--st-theme-primary);
                        padding-left: 35px;
                    }
                }


                >a {
                    display: inline-block;
                    color: var(--st-common-black);
                    padding: 10px 0;
                    text-align: left;
                    transition: all 0.3s ease;
                    position: relative;
                    font-size: var(--st-fz-btn);
                    font-weight: var(--st-fw-btn);
                    font-family: var(--st-ff-menu);
                    i{
                        @media #{$xl} {
                            margin-left: -4px;
                        }
                    }
                }
                &:hover > a,
                ul li:hover > a {
                    color: var(--st-theme-primary);
                }
            }
        }
    }

}

.main-menu nav ul li>a {
    position: relative;
    display: flex;
    align-items: center;
    i {
        font-size: 24px;
        line-height: 1;
        margin-left: 5px;
    }
}

.main-menu nav ul li>a:hover {
    color: var(--st-theme-primary);
}

.main-menu nav ul li ul li:hover {
    color: var(--st-theme-primary);
}

//OFCANVAS MENU
.offcanvas-menu {
    margin-bottom: 40px;

    ul {
        list-style: none;

        li {
            position: relative !important;

            &:not(:last-child)>a {
                border-bottom: 1px solid var(--st-border-1);
            }

            a {
                padding: 12px 0;
                display: block;
                font-size: var(--st-fz-btn);
                font-weight: 600;
                font-family: var(--st-ff-menu);
                &:hover {
                    color: var(--st-theme-primary);
                }
            }

            &.active {
                >a {
                    color: var(--st-theme-primary);
                }

                >.menu-close {
                    color: var(--st-common-white);
                    background: var(--st-theme-primary);
                    border-color: var(--st-theme-primary);

                    i {
                        transform: rotate(90deg);
                    }
                }
            }

            ul {
                display: none;
                padding-left: 20px;
            }
            .ul ul {
                display: none;
                padding-left: 20px;
            }
        }
    }

    .homemenu-title {
        margin-bottom: 25px;
    }

    @media #{$xs,$sm,$md, $lg} {
        ul {
            li {
                a {
                    i {
                        display: none;
                    }
                }
            }
        }
    }
}