/*----------------------------------------*/
/*  1.11 Pagination
/*----------------------------------------*/

.custom-pagination {
    gap: 10px;
    flex-wrap: wrap;
    .page-item {
        .page-numbers {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 1px solid var(--st-border-3);
            color: var(--st-heading-primary);
            font-weight: var(--st-fw-bold);
            border-radius: 0;
            background-color: transparent;
            font-family: var(--st-ff-menu);
            font-size: var(--st-fz-p2);
            line-height: var(--st-lh-p2);
            @include transition (.3s);

            @media #{$xs, $sm} {
                width: 40px;
                height: 40px;
                font-size: 14px;
            }
            i {
                font-size: 24px;
                line-height: 1;
            }

            &:hover {
                background-color: var(--st-theme-primary);
                color: var(--st-common-white);
            }
            &:focus {
                outline: none;
                box-shadow: none;
                border-color: var(--st-theme-primary); 
                background-color: var(--st-theme-primary);
                color: var(--st-common-white);
            }
        }
        .current {
            outline: none;
            box-shadow: none;
            border-color: var(--st-theme-primary); 
            background-color: var(--st-theme-primary);
            color: var(--st-common-white);
        }
    }
}
.service-pagination {
    position: unset;
    
    padding: 8px 0;
    margin-top: 36px;

    @media #{$md, $sm, $xs} {
        margin-top: 0;
    }
}
.service-pagination,
.swiper-pagination {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;

    @media #{$xss} {
        gap: 6px;
    }
    .swiper-pagination-bullet {
        margin: 0 !important;
        height: 24px;
        width: 24px;
        border-radius: unset;
        padding: 4px;
        background-clip: content-box;
        background: #56575a;
        opacity: 1;
        border: 4px solid #56575a;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: var(--st-theme-primary);
        
    }
}

/**
 * Milestone Pagination
 */

 .milestone-pagination {
    margin-top: unset;
    .swiper-pagination-bullet {
        background: var(--st-common-white);
        outline: 4px solid var(--st-common-white);
    }
    .swiper-pagination-bullet-active {
        background: var(--st-theme-primary);
    }
    
 }

 .milestone-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .milestone-nav {
        display: inline-block;
        position: relative;
        margin-top: -190px;

        @media (max-width: 1599px) {
            margin-top: -90px;
        }
        @media #{$xss} {
            margin-top: -70px;
        }
    }
    
    .swiper-pagination-bullets-dynamic {
        width: 100% !important;
        transform: unset !important;
    }
    .swiper-button-prev,
    .swiper-button-next {
        top: 22px;
        width: unset;
        height: unset;
        color: var(--st-common-black);
        font-size: 28px;
        &::after {
            content: none;
        }
        @media #{$xss} {
            top: 35px;
        }
    }
    .swiper-button-prev {
        left: -40px;
        @media #{$xss} {
            left: -30px;
        }
    }
    .swiper-button-next {
        right: -40px;
        @media #{$xss} {
            right: -30px;
        }
    }

    .milestone-pagination {
        max-width: 360px;
        flex-wrap: wrap;
        @media #{$xss} {
            max-width: 200px;
            gap: 14px;
        }

    }
    
 }