/*----------------------------------------*/
/*  2.4 404
/*----------------------------------------*/

.error-page {
    background: var(--st-bg-1);
    text-align: center;
    .content-wrapper {
        
        .image {
            max-width: 960px;
            margin: 0 auto;
        }
    }
    .details-content {
        max-width: 424px;
        margin: 0 auto;
        padding-top: 60px;

        @media #{$sm, $xs} {
            padding-top: 30px;
        }

        h1 {
            font-size: var(--st-fz-h3);
            line-height: var(--st-lh-h3);
            font-weight: var(--st-fw-sbold);

            @media #{$md} {
                font-size: var(--st-fz-tab-h3);
            }

            @media #{$sm, $xs} {
                font-size: var(--st-fz-mob-h3);
                line-height: var(--st-lh-h3-mob);
            }
        }
    }
}