/*----------------------------------------*/
/*  2.3 About Us
/*----------------------------------------*/

 .about-most-sought-v2 {
    .experience {
        background: var(--st-common-white);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left bottom;
    }
 }

.about-most-sought {
    background: var(--st-common-white);
}

/**
 * About Us Testimonial Style
 */

 .about-us-testimonal {
    background: var(--st-common-white);
 }