/*----------------------------------------*/
/* 2.5 Awards
/*----------------------------------------*/

.award-page {
    .milestone-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding: 24px;
        &:hover {
            transform: translateY(-8px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
        }
        .title {
            text-align: center;
        }
    }
}