/*----------------------------------------*/
/* 2.7 Blog Details
/*----------------------------------------*/

.blog-details-content {
    .feature-image {
        img {
            width: 100%;
        }
    }
    .blog-meta {
        padding: 24px 0;
        border-bottom: 1px solid var(--st-border-3);
        .meta-item{
            img {
                width: 24px;
                height: 24px;
            }
            i {
                font-size: 20px;
                line-height: 1;
            }
        }
    }
    .blog-content {
        padding: 32px 0;
        border-bottom: 1px solid var(--st-border-3);
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding-bottom: 16px;
        }
    }
    
    .tags-and-social-share {
        span {
            font-size: var(--st-fz-h6);
            line-height: var(--st-lh-h6);
            font-weight: var(--st-fw-sbold);

            @media #{$md} {
                font-size: var(--st-fz-tab-h6);
                line-height: var(--st-lh-h6-tab);
            }

            @media #{$sm, $xs} {
                font-size: var(--st-fz-mob-h6);
                line-height: var(--st-lh-h6-mob);
            }
            color: var(--st-heading-primary);
            margin-right: 12px;
        }
        a {
            font-size: var(--st-fz-p2);
            line-height: var(--st-lh-p);
            color: var(--st-body-text);
            font-weight: var(--st-fw-bold);
            margin-right: 8px;
            transition: all 0.3s ease-in-out;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                color: var(--st-theme-primary);
            }
        }
        .align-content {
            display: flex;
            justify-content: flex-end;
            @media #{ $sm, $xs } {
                justify-content: flex-start;
            }
        }
        .social-share {
            display: inline-flex;
            gap: 12px;
            li {
                a {
                    border-right: 1px solid var(--st-border-3);
                    padding-right: 12px;
                }
                &:last-child a {
                    border: 0;
                    padding: 0;
                }
                i {
                    font-size: 20px;
                    line-height: 1;
                    color: var(--st-heading-primary);
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    i {
                        color: var(--st-theme-primary);
                    }
                }
            }
        }
    }
}
.comments-area,
.blog-main-content {
    overflow: hidden;
    p {
        padding-bottom: 32px;
    }
    .key-point-service{
        display: flex;
        gap: 32px;
        @media #{ $sm, $xs } {
            flex-direction: column;
            gap: 0px;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        padding-bottom: 32px;
    }
    .align-img {
        height: auto;
    }
    ol {
        margin: 0 0 32px 0;
    }
    ul {
        list-style: disc;
        padding: 0 0 32px 32px;
    }
    h4 {
        
    }
    blockquote {
        background: var(--st-common-white);
        padding: 32px;
        margin: 0 0 32px 0;
        p {
            position: relative;
            font-size: var(--st-fz-p2);
            line-height: var(--st-lh-p2);
            font-weight: var(--st-fw-bold);
            margin-bottom: 16px;
            padding: 0;
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -40px;
                width: 40px;
                height: 40px;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_249_629)'%3e%3cpath d='M-0.000705719 24.2165C0.0895042 24.2078 0.179716 24.1921 0.27071 24.1921C3.44062 24.1906 6.61131 24.1906 9.78122 24.1921C9.8832 24.1921 9.98518 24.2055 10.1515 24.2165C9.8879 24.764 9.64395 25.277 9.39449 25.7869C8.58025 27.4507 7.76287 29.1137 6.95019 30.7783C6.89371 30.8936 6.82939 31.0214 6.82782 31.1438C6.81762 32.1338 6.82233 33.123 6.82233 34.2118C6.99098 34.0878 7.10159 34.0172 7.20121 33.9333C10.8685 30.8551 14.5271 27.766 18.2108 24.7083C18.6579 24.3365 18.8258 23.9756 18.8242 23.3983C18.8022 17.5527 18.8109 11.707 18.8109 5.86142C18.8109 5.50999 18.6333 5.33402 18.2782 5.3335C12.3165 5.3335 6.35402 5.3335 0.392298 5.3335C0.262081 5.3335 0.131865 5.3382 0.000864029 5.34056V24.2157L-0.000705719 24.2165Z' fill='%23E6E6E6'/%3e%3cpath d='M39.9779 8.90259H39.4797C34.7315 8.90259 29.9834 8.90259 25.2344 8.90259C24.884 8.90259 24.7085 9.07935 24.708 9.43287C24.708 14.1693 24.708 18.9049 24.708 23.6414V24.1913H32.9634C32.8779 24.3819 32.8246 24.5113 32.7634 24.6368C31.9884 26.2316 31.2063 27.8232 30.4415 29.4227C30.3442 29.6251 30.2924 29.8667 30.2861 30.0926C30.2665 30.8056 30.2791 31.5203 30.2791 32.3C30.4179 32.2074 30.5042 32.1611 30.578 32.0992C33.6349 29.5325 36.6926 26.9666 39.7417 24.3905C39.8704 24.2815 39.9888 24.0736 39.9896 23.9112C40.0022 18.9936 39.9998 14.0744 39.9998 9.15518C39.9998 9.09085 39.9896 9.02653 39.9786 8.90259H39.9779Z' fill='%23E6E6E6'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_249_629'%3e%3crect width='40' height='40' fill='white' transform='matrix(-1 0 0 1 40 0)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        cite {
            font-size: var(--st-fz-p2);
            line-height: var(--st-lh-p2);
            color: var(--st-theme-primary);
        }
    }
    table {
        width: 100%;
        border: 1px solid var(--st-border-3);
        margin-bottom: 32px;
        th {
            padding: 12px;
            text-align: center;
            border: 1px solid var(--st-border-3);
        }
        td {
            padding: 12px;
            border: 1px solid var(--st-border-3);
            text-align: center;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-bottom: 16px;
    }
}
.comments-area {
    .comment-count,
    .respond-heading {
        padding: 48px 0 32px;
        @media #{ $xs } {
            padding: 32px 0 20px;
        }
    }
    .comment {
        border-bottom: 1px solid var(--st-border-3);
        padding-bottom: 32px;
        margin-bottom: 32px;
        list-style: none;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .comment-content {
        display: flex;
        gap: 32px;
        @media #{ $xs } {
            flex-direction: column;
        }
        .author-image {
            max-width: 100px;
            width: 100%;
        }
        .comment-body {
            width: calc(100% - 132px);
            @media #{ $xs } {
                width: 100%;
            }
            .author-info {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 12px;
                margin-bottom: 12px;
                h6 {
                    padding: 0;
                }
                span {
                    font-size: var(--st-fz-p2);
                    line-height: var(--st-lh-p2);
                }
            }
            p {
                padding: 0;
            }
        }
        .reply-btn {
            padding-top: 12px;
            .comment-reply-link {
                font-size: var(--st-fz-p2);
                line-height: var(--st-lh-p2);
                font-weight: var(--st-fw-bold);
                color: var(--st-theme-primary);
                text-decoration: underline;
                text-underline-offset: 3px;
            }
        }
    }
    .children {
        padding-left: 95px;
        @media #{ $xs } {
            padding-left: 40px;
        }
        .reply {
            border-left: 1px solid var(--st-border-3);
            padding: 24px 0 0 24px;
            margin-top: 24px;
            list-style: none;
        }
    }
    .comment-form {
        p {
           padding: 0 0 24px;
           @media #{ $xs } {
            padding: 0 0 20px;
           }
        }
        .form-field {
            width: 100%;
            border: 1px solid var(--st-border-3);
            background: transparent;
            border-radius: 0;
            padding: 8px 16px;
            font-size: var(--st-fz-p);
            line-height: var(--st-lh-p);
            color: var(--st-body-text);
            margin-bottom: 32px;
            @media #{ $xs } {
                margin-bottom: 20px;
            }
            &:focus {
                outline: none;
            }
        }
        label {
            font-size: var(--st-fz-p);
            line-height: var(--st-lh-p);
            color: var(--st-body-text);
            margin-bottom: 8px;
        }
        input {
            height: 48px;
        }
        textarea {
            height: 120px;
        }
    }
}
