/*----------------------------------------*/
/*  2.9 Career Details
/*----------------------------------------*/

.career-details-page {
    .top-content-wrapper {
        max-width: 708px;
        margin: 0 auto;
    }
    .career-details-top {
        background: var(--st-common-black);
        color: var(--st-common-white);
        text-align: center;
        padding: 60px 20px;
        @media #{$sm, $xs} {
            padding: 30px 12px;
        }
        * {
            color: var(--st-common-white);
        }
    }   
    h2,
    h6 {
        padding-bottom: 4px;
    }

    .salary-range {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 4px;

        @media (max-width: 330px) {
            flex-direction: column;
            align-items: center;
        }
    }
    .job-details {
        text-align: left;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        @media #{$xss} {
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .career-details-bottom {
        background: var(--st-bg-1);
        padding: 60px 20px;
        @media #{$sm, $xs} {
            padding: 30px 12px;
        }
    }
    .bottom-content-wrapper {
        max-width: 952px;
        margin: 0 auto;
        p{
            padding-bottom: 32px;
            @media #{$xs, $sm} {
                padding-bottom: 20px;
            }
        }
        h4 {
            color: var(--st-text-body);
            padding-bottom: 12px;
        }
        ul {
            padding-left: 24px;
            padding-bottom: 32px;
            font-size: var(--st-fz-body);
            @media #{$xs, $sm} {
                padding-bottom: 20px;
                padding-left: 16px;
            }
        }
        li {
            list-style-type: disc;
        }
    }
}