/*----------------------------------------*/
/* 2.8 Career
/*----------------------------------------*/

.career-page {
    .career-top {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
            padding-bottom: 16px;
        }
        .description {
            p {
                max-width: 952px;
            }
           
        }
    }

    .job-opening {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--st-common-white);
        border-left: 5px solid var(--st-theme-primary);
        padding: 40px 60px 40px 55px;
        margin-bottom: 40px;
        gap: 12px;
        @media #{$md, $sm, $xs} {
            margin-bottom: 30px;
            padding: 20px 40px 20px 35px;
        }
        @media #{$sm, $xs} {
            flex-direction: column;
            justify-content: center;

        }

        &:last-of-type {
            margin-bottom: unset;
        }

        .primary-btn {
            @media #{$md, $sm, $xs} {
                padding: 12px 24px;
            }
        }
    }

    .job-info {
        max-width: 270px;

        @media #{$sm, $xs} {
            text-align: center;
        }
        h4 {
            padding-bottom: 4px;
        }
        
    }
    
    .job-type,
    .job-location {
        display: flex;
        align-items: center;
        gap: 6px;

        @media #{$sm, $xs} {
            justify-content: center;
        }
    }

    .job-location {
        max-width: 286px;
    }
    
}