/** ///////////////////////
* Blog and News Style Starts
*/
/////////////////////////
.blog-and-news-area {
    .button-wrapper {
        width: 100%;
        text-align: end;
    }

    @media(max-width: 767px) {
        position: relative;
        padding-bottom: 130px;

        .button-wrapper {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }

    .heading {
        h2 {
            padding-bottom: 12px;
        }
    }
}