/*----------------------------------------*/
/*  2.2 Index-2
/*----------------------------------------*/

.hero-area-v2 {
    position: relative;

    .hero-slider-wrapper {
        position: relative;
    }

    .swiper-slide {
        position: relative;
    }

    .swiper-container {
        overflow: hidden;

        &.slider {
            .slide-item-wrapper {
                position: relative;

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.7);
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .regular-container {
                    position: relative;
                    z-index: 1;
                }

                .hero-title-wrapper {
                    display: flex;
                    justify-content: flex-end;

                    h1 {
                        padding-top: 80px;
                        padding-bottom: 120px;

                        @media #{ $lg, $md } {
                            padding-bottom: 60px;
                            padding-top: 90px;
                        }

                        @media #{ $sm, $xs } {
                            padding-bottom: 50px;
                            padding-top: 106px;
                        }

                    }

                    h1 {
                        max-width: 1145px;
                        width: 100%;
                        color: var(--st-common-white);
                        font-size: 100px;
                        line-height: 120px;
                        text-align: end;

                        span {
                            color: var(--st-theme-primary);
                        }

                        @media #{ $lg } {
                            font-size: 80px;
                            line-height: 100px;
                        }

                        @media #{ $md } {
                            font-size: 60px;
                            line-height: 80px;
                        }

                        @media #{ $sm } {
                            font-size: 48px;
                            line-height: 58px;
                        }

                        @media #{ $xs } {
                            font-size: 38px;
                            line-height: 48px;
                        }
                    }
                }

                .hero-banner-content {
                    p {
                        color: var(--st-common-white);
                        font-size: 20px;
                        line-height: 32px;
                        font-weight: var(--st-fw-sbold);

                        @media #{ $sm, $xs } {
                            font-size: 18px;
                            line-height: 28px;
                        }
                    }
                }

                .client-count-wrapper {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 12px;
                    padding-top: 22px;
                    padding-bottom: 20px;

                    @media #{ $sm, $xs } {
                        padding-bottom: 110px;
                    }

                    h5 {
                        color: var(--st-common-white);
                    }
                }
            }

            .swiper-pagination {
                bottom: 120px;

                @media #{ $md } {
                    width: unset;
                    bottom: 100px;
                    left: 135px;
                }

                @media #{ $xs } {
                    bottom: 180px;
                }

                @media #{ $sm } {

                    bottom: 120px;
                    left: -117px;

                }
            }
        }

        &.slider-thumbnail {
            height: 342px;
            width: 340px;

            @media #{ $md } {
                height: 280px;
                width: 282px;
            }

            @media #{ $sm } {
                height: 210px;
                width: 212px;
            }

            @media #{ $xs } {
                height: 150px;
                width: 152px;
            }

            .swiper-wrapper {
                .swiper-slide {
                    width: 25%;
                    height: 100%;
                    opacity: .5;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &.swiper-slide-thumb-active {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .thumbnail-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-top: -290px;

        @media #{ $md } {
            margin-top: -240px;
        }

        @media #{ $sm } {
            margin-top: -170px;
        }

        @media #{ $xs } {
            margin-top: -110px;
        }
    }

    .slider-progress {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 5px;
    }

    .slider-progress span {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 0;
        height: 100%;
        background-color: var(--st-theme-primary);
        transition: all 0s linear;
    }

    .slider-progress span.active {
        width: 100%;
    }

    @media #{ $xs, $sm } {
        .rounded-btn {
            width: 80px;
            height: 80px;

            a {
                font-size: 9px;
                line-height: 14px;
            }
        }
    }
}

/** ///////////////////////
 * Most Sought Style Starts
 */
////////////////////////

.most-sought-v2 {
    .sought-image {
        height: 100%;
        padding-bottom: 52px;

        @media #{$md, $sm, $xs} {
            padding-bottom: 0;
        }
    }

    .sought-image-wrapper {
        min-height: 556px;
        height: 100%;

        @media #{$xs} {
            min-height: 450px;
        }
    }

    .sought-content {
        .heading {
            max-width: 586px;

            @media #{$md, $sm, $xs} {
                max-width: unset;
            }
        }
    }

    .experience {
        background: var(--st-bg-1);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left bottom;
        max-width: 342px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 165px;
        padding: 0 24px 24px 24px;

        @media #{$md, $sm} {
            margin-top: 80px;
        }

        @media #{$xs} {
            align-self: center;
            margin-top: 65px;
        }

        .number,
        .text {
            color: var(--st-heading-primary);
            font-weight: var(--st-fw-bold);
            font-family: var(--st-ff-heading);
        }

        .number {
            font-size: 100px;
            line-height: 1;
            padding-bottom: 8px;
            margin-top: -65px;
        }

        .text {
            font-size: 16px;
            line-height: 24px;
        }

        .icon {
            width: 124px;
            height: 124px;
        }
    }

    .sought-info {
        display: flex;
        gap: 60px;

        @media #{$lg, $md, $sm, $xs} {
            gap: 30px;
        }

        @media #{$xs} {
            flex-direction: column;
            justify-content: center;
        }
    }

    .info-right {
        .description {
            p {
                padding-bottom: 30px;
            }
        }
    }

    .sought-content {
        padding-top: 42px;

        @media #{$xs} {
            padding-top: 30px;
        }
    }
}

/** /////////////////
* Service Style Starts
*/
////////////////////

.latest-service-v2 {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: #08090BF2;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .service-wrapper {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }

    .service-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 45px;

        @media #{$md, $sm, $xs} {
            padding-bottom: unset;
        }

        @media #{$sm, $xs} {
            flex-direction: column;
            align-items: start;
            gap: 24px;
        }
    }

    .top-content {
        position: relative;

        .heading {
            h2 {
                padding-bottom: 12px;
                color: var(--st-common-white);color: var(--st-common-white);
            }
        }

        .description {
            p {
                color: var(--st-common-white);
            }
        }

        .description {
            max-width: 464px;
            padding-top: 12px;
        }
    }

    .service-bottom {
        .swiper-slide {
            &.is-scaled {
                .card-image {
                    height: 354px;

                    img {
                        max-height: unset;
                    }

                    @media #{$md, $sm, $xs} {
                        height: 234px;
                    }
                }

                .rounded-btn {
                    display: block;
                }

                .card-heading {
                    border-color: var(--st-theme-primary);

                    h4 {
                        color: var(--st-theme-primary);
                    }

                    @media #{$md, $sm, $xs} {
                        border-color: var(--st-common-white);

                        h4 {
                            color: var(--st-common-white);
                        }
                    }
                }
            }
        }
    }

    .service-slider {
        min-height: 555px;
        align-items: center;

        @media #{$md, $sm, $xs} {
            min-height: unset;
            margin: 32px 0;
        }
    }
}

.service-card {

    .card-heading,
    .card-description {

        h4,
        p {
            color: var(--st-common-white);
        }
    }

    .card-heading {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--st-common-white);
    }

    .card-description {
        padding-top: 32px;

        @media #{$sm, $xs} {
            padding-top: 24px;
        }
    }

    .card-image {
        position: relative;
        height: 234px;
        transition: height 0.4s ease;

        img {
            height: 100%;
            transition: height 0.4s ease;
        }
    }

    .rounded-btn {
        display: none;

        @media #{$md, $sm, $xs} {
            display: block;
        }
    }

    .card-count {
        position: absolute;
        top: -89px;
        right: 18px;
        z-index: -1;

        span {
            font-family: var(--st-ff-heading);
            font-size: 100px;
            line-height: 1;
            font-weight: var(--st-fw-sbold);
            color: #08090BF2;
            text-shadow:
                0 0 1px var(--st-text-body),
                -1px -1px 0 var(--st-text-body),
                1px -1px 0 var(--st-text-body),
                -1px 1px 0 var(--st-text-body),
                1px 1px 0 var(--st-text-body);
        }
    }
}

/** /////////////////
* project carrousel Style Starts
*/
////////////////////

.project-carrousel {
    .heading-area {
        h2 {
            position: absolute;
            font-size: 100px;
            font-style: normal;
            font-weight: 600;
            line-height: 140px;
            text-transform: capitalize;
            color: var(--st-common-white);
            text-shadow:
                0 0 1px var(--st-text-body),
                -1px -1px 0 var(--st-text-body),
                1px -1px 0 var(--st-text-body),
                -1px 1px 0 var(--st-text-body),
                1px 1px 0 var(--st-text-body);

            &:last-child {
                text-align: center;
                top: 210px;
                left: 62%;
                transform: translateX(-50%);

                @media #{ $lg } {
                    top: 170px;
                }

                @media #{ $md } {
                    top: 130px;
                    left: 50%;
                }

                @media #{ $sm, $xs } {
                    top: 90px;
                    left: 50%;
                }
            }

            @media #{ $md } {
                font-size: 42px;
                line-height: 54px;
            }

            @media #{ $sm, $xs } {
                font-size: 36px;
                line-height: 46px;
            }
        }
    }

    .sticky-carrousel-container {
        position: sticky;
        top: 0;
        min-height: 830px;
        width: 100%;
        overflow: hidden;

        @media #{ $md } {
            min-height: 600px;
        }

        @media #{ $sm } {
            min-height: 550px;
        }

        @media #{ $xs } {
            min-height: 460px;
        }
    }

    .horizontal-slider {
        position: relative;
        width: 100%;
        min-height: 100vh;
    }

    .card-container {
        position: relative;
        height: 100%;
        padding: 0 0 0 450px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        @media #{ $xl } {
            padding: 0 0 0 250px;
        }

        @media #{ $lg } {
            padding: 0 0 0 200px;
        }

        @media #{ $md, $sm, $xs } {
            padding: 0;
        }
    }

    .project-carrousel-wrapper {
        position: relative;
        width: 100%;
    }

    .horizontal-translate-container {
        position: absolute;
        height: 100%;
        will-change: transform;
    }
}

.project-card {
    position: relative;
    margin-right: 24px;
    flex-shrink: 0;
    overflow: hidden;

    .image-wrapper {
        position: relative;

        img {
            max-width: 464px;
            width: 100%;
            max-height: 360px;
            height: auto;
            object-fit: cover;

            @media #{ $md, $sm } {
                max-width: 400px;
            }

            @media #{ $xs } {
                max-width: 310px;
            }
        }
    }

    .content-wrapper {
        padding: 16px 0;
        border-bottom: 1px solid var(--st-border-3);

        .location {
            span {
                font-size: var(--st-fz-btn);
                line-height: var(--st-lh-btn);
                font-weight: var(--st-fw-btn);
                margin-left: 4px;
            }
        }
    }

    .rounded-btn {
        display: none;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        .rounded-btn {
            display: block;
        }
    }
}

/** /////////////////////
*  Milestone Style Starts
*/
///////////////////////

.milestone-v2 {
    background: var(--st-bg-1);
    padding-left: 92px;
    padding-right: 92px;

    @media #{$lg, $md, $sm, $xs} {
        padding-left: unset;
        padding-right: unset;
    }

    .milestone-slider {
        min-height: 450px;

        @media (max-width: 1599px) {
            min-height: 380px;
        }

        .swiper-slide {
            transition: all 0.5s ease-in-out;
            will-change: padding-top, transform;

            &.pos-1 {
                padding-top: 120px;

                @media (max-width: 1599px) {
                    padding-top: 60px;
                }

                @media (max-width: 992px) {
                    padding-top: 0;
                }
            }

            &.pos-2 {
                padding-top: 60px;

                @media (max-width: 1599px) {
                    padding-top: 0;
                }
            }

            &.pos-4 {
                @media (max-width: 1599px) {
                    padding-top: 60px !important;
                }

                @media (max-width: 992px) {
                    padding-top: 0 !important;
                }
            }

            &.pos-6 {
                padding-top: 120px;

                @media (max-width: 1599px) {
                    padding-top: 0;
                }
            }

            &.pos-5 {
                padding-top: 60px;

                @media (max-width: 1599px) {
                    padding-top: 0;
                }
            }

            &:not(.pos-1):not(.pos-2):not(.pos-5):not(.pos-6) {
                padding-top: 0;
            }
        }
    }
}

.milestone-card {
    width: 100%;
    min-height: 304px;
    height: 100%;
    background: var(--st-common-white);
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    img {
        max-width: 100%;
    }

    .title {
        span {
            font-size: 16px;
            line-height: 1.5;
            font-family: var(--st-ff-btn);
            font-weight: var(--st-fw-bold);
            color: var(--st-heading-primary);

        }
    }
}

/** ///////////////////
* Our Team Style Starts
*/
/////////////////////

.our-team-v2 {
    .team-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;

        @media #{$md, $sm, $xs} {
            flex-direction: column;
            align-items: start;
            gap: 24px;
        }

        @media #{$sm, $xs} {
            padding-bottom: 24px;
        }

        .description {
            max-width: 570px;
            padding-top: 12px;
        }
    }

    .team-member-wrapper {
        &:nth-child(even) {
            padding-top: 60px;

            @media #{$sm} {
                padding-top: 30px;
            }

            @media #{$xs} {
                padding-top: 0;
            }
        }
    }

}

.team-member {
    border: 1px solid var(--st-border-3);
    overflow: hidden;
    position: relative;
    margin-left: -1px;
    min-height: 510px;
    transition: background-color 0.5s ease, transform 0.4s ease;
    @media #{$sm} {
        min-height: 420px;
    }
    @media #{$xs} {
        min-height: 490px;
    }
    @media (max-width: 375px) {
        min-height: 460px;
    }
    @media (max-width: 350px) {
        min-height: 435px;
    }

    .member-info {
        margin: 24px 0 4px 0;
        padding: 0 28px;
        position: relative;

        h5,
        p {
            transition: color 0.3s ease;
        }
    }

    .member-image {
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    &:hover {
        background: var(--st-common-black);

        .member-info {
            border-left: 8px solid var(--st-theme-primary);
            padding: 0 20px;

            h5,
            p {
                color: var(--st-common-white);
            }
        }

        .bg-image {
            path {
                fill: var(--st-common-white);
            }
        }

        .social-sidebar {
            display: block;
            position: relative;
            z-index: 2;
        }

        .icon {
            opacity: 0;
            transform: translateX(-40px);
            animation: slideIn 0.6s forwards;

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: 0.2s;
            }

            &:nth-child(3) {
                animation-delay: 0.4s;
            }

            &:nth-child(4) {
                animation-delay: 0.6s;
            }
        }
    }

    .bg-image {
        position: absolute;
        bottom: 0;
    }

    .social-sidebar {
        display: none;
    }

    .social-sidebar-wrapper {
        display: flex;
        gap: 16px;
        flex-direction: column;
        padding: 20px 0 0 27px;

        @media #{$xs} {
            padding: 10px 0 0 27px;
        }

        .icon {
            border: 1px solid var(--st-text-body);
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: var(--st-common-white);
            transition: all 0.3s ease;

            &:hover {
                background: var(--st-theme-primary);
                border: 1px solid var(--st-theme-primary);

            }
        }
    }

    @keyframes slideIn {
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
.member-image {
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

/** ////////////////////////
*  Subscription Style Starts
*/
//////////////////////////

.subscribe-area {
    border-top: 1px solid var(--st-border-3);

    .marquee-text {
        background: var(--st-common-white);
        overflow: hidden;
        position: relative;
        white-space: nowrap;

        @media (min-width: 1700px) {
            padding-top: 30px;
        }

        .marquee-inner {
            display: inline-block;
            white-space: nowrap;
            animation: marqueeScroll 30s linear infinite;
        }

        span {
            display: inline-block;
            padding-right: 60px;
            font-family: var(--st-ff-heading);
            font-size: 150px;
            line-height: 140px;
            text-transform: uppercase;
            font-weight: var(--st-fw-sbold);
            letter-spacing: 0;
            color: var(--st-common-white);
            text-shadow:
                0 0 1px var(--st-border-3),
                -1px -1px 0 var(--st-border-3),
                1px -1px 0 var(--st-border-3),
                -1px 1px 0 var(--st-border-3),
                1px 1px 0 var(--st-border-3);

            @media (max-width: 991px) {
                font-size: 100px;
                line-height: 90px;
            }

            @media (max-width: 767px) {
                font-size: 70px;
                line-height: 60px;
            }
        }
    }

    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    .subcribe-top {
        height: 440px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @media (max-width: 1050px) {
            height: 340px;
        }

        @media (max-width: 650px) {
            height: 270px;
        }

        @media (max-width: 480px) {
            height: 170px;
        }
    }

    .subscribe-image {
        position: absolute;
        bottom: 0;
        left: 50%;
        overflow: hidden;

        transform: translateX(-50%) translateY(50%);
        transition: transform 1s ease;

        @media (max-width: 1700px) {
            left: 40%;
            transform: translateX(-30%) translateY(50%);
        }

        @media (max-width: 1295px) {
            left: 25%;
            transform: translateX(-17%) translateY(50%);
        }

        @media (max-width: 991px) {
            left: 10%;
            transform: translateX(-6%) translateY(50%);
            max-height: 450px;
            overflow: hidden;
        }

        &.reveal {
            transform: translateX(-50%) translateY(0);

            @media (max-width: 1700px) {
                transform: translateX(-30%) translateY(0);
            }

            @media (max-width: 1295px) {
                transform: translateX(-17%) translateY(0);
            }

            @media (max-width: 991px) {
                transform: translateX(-6%) translateY(0);
            }
        }

        .image-full {
            object-fit: unset;
        }

        img {
            min-height: 500px;

            @media (max-width: 1050px) {
                min-height: unset;
            }
        }
    }

    .subcribe-bottom {
        background: var(--st-common-black);
        text-align: center;
        background-repeat: no-repeat;
        background-position: left;
        position: relative;
        z-index: 1;

        .regular-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .heading {
            h2 {
                max-width: 1030px;
                color: var(--st-common-white);
                padding-bottom: 40px;

                @media #{$sm, $xs} {
                    padding-bottom: 24px;
                }
            }
        }

        .subscribe-form {
            display: flex;
            gap: 20px;

            @media #{$xs} {
                gap: 12px;
            }

            @media #{$xss} {
                flex-direction: column;
                width: 100%;
            }

            input {
                all: unset;
                min-width: 400px;
                border: 1px solid #E8E8EA;
                text-align: left;
                padding: 10px 16px;
                color: var(--st-common-white);

                &::placeholder {
                    color: var(--st-common-white);
                }

                @media #{$sm} {
                    min-width: 260px;
                }

                @media #{$xs} {
                    min-width: unset;
                }
            }

            .primary-btn {
                &:hover {
                    border: 1px solid var(--st-common-white);
                }

                @media #{$xs} {
                    padding: 12px 24px;
                }

                @media #{$xss} {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

/** ////////////////////////
*  Testimonial Style Starts
*/
//////////////////////////

.testimonial-top {
    text-align: center;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media #{$sm, $xs} {
        padding-bottom: 24px;
    }

    .description {
        padding-top: 12px;
        max-width: 632px;
    }
}

.testimonial-v2 {

    .testimonial-item {
        padding-top: 32px;
    }

    .testimonial-card {
        padding-top: 55px;
        border: 1px solid var(--st-border-3);
    }

    .top-content {
        background: var(--st-bg-1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-left: 24px;
        gap: 8px;

        @media #{$lg, $md, $xs} {
            padding-left: 12px;
        }

        @media (max-width: 360px) {
            min-height: 240px;
        }

    }

    .top-right-image {
        max-width: 188px;
        max-height: 199px;
        position: absolute;
        bottom: 0;
        right: 32px;

        @media #{$xl, $lg, $md, $sm} {
            max-width: 150px;
            position: unset;
            align-self: end;
            margin-right: 12px;
        }

        @media #{ $xs} {
            max-width: 100px;
            right: 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .top-left-info {
        display: flex;

        @media (max-width: 1092px) {
            flex-direction: column;
        }

        .icon {
            margin-top: -24px;
            margin-right: 20px;

            @media #{$lg} {
                margin-right: 12px;
            }

            @media (max-width: 1092px) {
                margin-right: unset;
                margin-left: 12px;

            }

            @media (max-width: 360px) {
                margin-top: -155px;
            }
        }

        .divider {
            height: 115px;
            width: 1px;
            background: var(--st-theme-primary);
            margin-top: -24px;
        }

        .client-info {
            padding: 20px 16px;
        }

        .designation {
            color: var(--st-heading-primary);
        }
    }

    .bottom-content {
        padding: 32px;

        @media #{$xs} {
            padding: 24px;
        }

        .description {
            h6 {
                color: var(--st-text-body);

                @media #{$md} {
                    font-size: 18px;
                }

                @media #{$sm, $xs} {
                    font-size: 16px;
                }
            }
        }
    }

    .info-bottom {
        display: flex;
        max-width: 350px;
        width: 100%;

        @media #{$xxl} {
            max-width: 300px;
        }

        @media #{$xs} {
            max-width: 270px;
        }

        @media #{$xss} {
            max-width: 225px;
        }

        @media (max-width: 360px) {
            max-width: 285px;
        }
    }
}

/** ///////////////////////
* Blog and News Style Starts
*/
/////////////////////////
.blog-and-news-area {
    .button-wrapper {
        width: 100%;
        text-align: end;
    }

    @media(max-width: 767px) {
        position: relative;
        padding-bottom: 130px;

        .button-wrapper {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }

    .heading {
        h2 {
            padding-bottom: 12px;
        }
    }
}