/*----------------------------------------*/
/* 2.13 Project Details
/*----------------------------------------*/

.project-details-area {
    .top-area {
        display: flex;
        justify-content: space-between;
        @media(max-width: 991px) {
            flex-direction: column;
            align-items: center;
        }
    }
    .feature-image-area-wrapper {
        width: calc(100% - 464px);
        padding-bottom: 16px;
        @media(max-width: 991px) {
            width: 100%;
        }
        .feature-image-area {
            padding-right: 24px;
            img {
                width: 100%;
            }
        }
        h2 {
            border-bottom: 1px solid var(--st-border-3);
            padding-bottom: 16px;
        }
    }
    .info-box-area {
        max-width: 464px;
        width: 100%;
        background: var(--st-common-white);
        padding: 24px;
        .info-box {
            padding: 32px;
            box-shadow: 0px 0px 20px 0px #0000000D;
            background: var(--st-common-white);
            h5 {
                border-bottom: 1px solid var(--st-heading-primary);
                padding-bottom: 24px;
            }
            @media #{ $xs } {
                padding: 20px;
            }
        }
        .info-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            flex-wrap: wrap;
            border-bottom: 1px solid var(--st-heading-primary);
            padding-top: 24px;
            padding-bottom: 24px;
            i {
                font-size: 20px;
                line-height: 1;
                color: var(--st-heading-primary);
            }
            span {
                font-size: 20px;
                line-height: 32px;
                color: var(--st-heading-primary);
                margin-left: 8px;
                @media #{ $xs } {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            p {
                color: var(--st-theme-primary);
                @media #{ $xs } {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
    .meta-info-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
        padding-top: 24px;
        span {
            font-size: var(--st-fz-btn);
            line-height: var(--st-lh-btn);
            font-weight: var(--st-fw-btn);
            color: var(--st-body-text);
        }
        .social-share {
            span {
                position: relative;
                color: var(--st-heading-primary);
                text-transform: uppercase;
                padding-right: 52px;
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 30px;
                    height: 1px;
                    background: var(--st-heading-primary);
                }
            }
            ul {
                display: inline-flex;
                flex-direction: row;
                gap: 16px;
                margin-left: 24px;
                 @media #{ $xss} {
                    margin-left: 12px;
                    gap: 8px;
                }
            }
        }
    }
    .content-area {
        padding-top: 60px;
        @media #{ $xs, $sm } {
            padding-top: 40px;
        }
        h3 {
            padding-bottom: 24px;
            @media #{ $xs, $sm } {
                padding-bottom: 16px;
            }
        }
        p {
            padding-bottom: 48px;
            @media #{ $xs, $sm } {
                padding-bottom: 32px;
            }
        }
        ul {
            padding-bottom: 48px;
            @media #{ $xs, $sm } {
                padding-bottom: 32px;
            }
            li {
                position: relative;
                padding-bottom: 16px;
                padding-left: 32px;
                &:last-child {
                    padding-bottom: 0;
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 2px;
                    width: 24px;
                    height: 24px;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z' fill='%23FF5A3C'/%3e%3c/svg%3e ");
                    background-size: contain;
                }
            }
        }
        img {
            width: 100%;
            height: auto;
            padding-bottom: 48px;
            @media #{ $xs, $sm } {
                padding-bottom: 32px;
            }
        }
    }
    .project-details-pagination {
        display: flex;
        border: 1px solid var(--st-border-3);
        overflow: hidden;
        .prev-container,
        .next-container {
            h5{
                @media #{ $md } {
                    font-size: 18px;
                }
                @media #{ $xs, $sm } {
                    display: none;
                }
            }
            position: relative;
            width: 50%;
            text-align: center;
            padding: 20px;
            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                font-size: 32px;
                color: var(--st-theme-primary);
            }
        }
        .prev-container {
            border-right: 1px solid var(--st-border-3);
            i {
                left: 19px;
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 110px;
                height: 78px;
                background: url('../img/project-details/icon-bg-left.png');
            }
        }
        .next-container {
            i {
                right: 19px;
            }
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 110px;
                height: 78px;
                background: url('../img/project-details/icon-bg-right.png');
            }
        }
    }
}