/*----------------------------------------*/
/* 2.14 Service
/*----------------------------------------*/

.service-page-content {
    .service-card {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        padding-bottom: 16px;
        &:hover {
             border-bottom: var(--bs-border-width) var(--bs-border-style) var(--st-theme-primary) !important;
        }
        .card-heading {
            h4 {
                color: var(--st-heading-primary);
            }
        }
        .card-description {
            p {
                color: var(--st-text-body);
            }
        }
        img {
            position: relative;
            z-index: 2;
            transition: all 0.3s ease-in-out;
        }
        .card-heading {
            border-bottom: 1px solid var(--st-border-3);
        }

        .rounded-btn {
            display: none;
        }
        .card-count {
            z-index: 1;
            span {
                color: var(--st-bg-1);
            }
        }
    }
    .service-item {
        min-height: 555px;
        display: flex;
        align-items: center;
        padding-bottom: 32px;
        @media #{$xs, $sm, $md} {
            min-height: unset;
            padding-top: 12px;
        }
        &:hover {
            .card-image {
                height: 354px;
                img {
                    max-height: unset;
                }
                @media #{$md, $sm, $xs} {
                    height: 234px;
                }
            }
            .rounded-btn {
                display: block;
                z-index: 3;
            }
            .card-heading {
                border-color: var(--st-theme-primary);
                h4 {
                    color: var(--st-theme-primary);
                }
            }
        }
    }

}