/*----------------------------------------*/
/* 2.16 Team Details
/*----------------------------------------*/

.team-details-page {
    .pb-120 {
        @media #{$sm, $xs} {
            padding-bottom: 0;
        }
    }
    .team-member {
        padding-top: 80px;
        border: unset;
        margin-left: 0; 
        background: var(--st-common-black);
        background-position: bottom right;
        background-repeat: no-repeat;
        max-width: 1200px;
        margin: 0 auto;
        min-height: 640px;

        @media #{$md, $sm} {
            padding-top: 50px;
        }
        @media #{$xs} {
            padding-top: 20px;
            min-height: 600px;
        }
        @media #{$xss} {
            min-height: 750px;
        }
        @media (max-width: 350px) {
            min-height: 790px;
        }

        .member-info {
            margin: unset;
            padding: 0 20px 0 72px;
            border-left: 8px solid var(--st-theme-primary);

            @media #{$md, $sm} {
                padding: 0 20px 0 36px;
            }
            @media #{$xs} {
                padding: 0 0 0 10px;
            }
            h5,
            p {
                color: var(--st-common-white);
            }
        }

        .member-image {
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 40px;
            z-index: 1;

            @media #{$md} {
                max-width: 300px;
                right: 0;
            }
            @media #{$sm, $xs} {
                max-width: 280px;
                right: 0;
            }
            @media #{$xss} {
                max-width: 250px;
            }
        }

        .social-sidebar {
            display: block;
        }

        .icon {
            opacity: 1;
            transform: unset;
            animation: unset;
        }
        
        .bg-image {
            position: absolute;
            bottom: 0;
        }

        .social-sidebar {
            display: block;
        }
        .social-sidebar-wrapper {
            flex-direction: unset;
            position: unset;
            padding: 0px;
        }
    }

    .top-details {
        color: var(--st-common-white);
        margin-bottom: -310px;
        position: relative;
        z-index: 1;

        @media #{$md, $sm, $xs} {
            margin-bottom: unset;
        }
    }

    .info-contact {
        padding: 32px 20px 80px 80px;

        @media #{$md, $sm} {
            padding: 20px 20px 50px 45px;
        }
        @media #{$xs} {
            padding: 20px;
        }
        @media #{$xss} {
            padding: 20px 16px;
        }

        .description {
            max-width: 506px;
            p {
                color: var(--st-common-white);
            }
        }

        .contact-details-wrapper {
            @media #{$xs} {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
            }
        }

        .contact-details {
            display: flex;
            align-items: center;
            gap: 12px;
            padding-bottom: 20px;

            &:last-of-type {
                padding-bottom: unset;
            }

            @media #{$xs} {
                padding-bottom: unset;
            }
            .icon {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--st-common-white);
                transition: background 0.3s ease, border 0.3s ease;
                cursor: pointer;
                i {
                    font-size: 24px;
                    color: var(--st-common-white);
                    transition: color 0.3s ease;
                }

                &:hover {
                    background: var(--st-theme-primary);
                    border: 1px solid transparent; 
                    i {
                        color: var(--st-common-white);
                    }
                }
            }
            .details {
                .title {
                    font-family: var(--st-ff-btn);
                    font-weight: var(--st-fw-bold);
                }
                a {
                    color: var(--st-common-white);
                }
            }
        }
        
    }

    .bottom-details {
        background: var(--st-common-white);
        min-height: 912px;
        padding: 80px 68px;
        position: relative;

        @media #{$md, $sm, $xs} {
            margin: 0;
        }
        @media #{$md} {
            min-height: 960px;
        }
        @media #{$md, $sm} {
            padding: 50px 38px;
        }
        @media #{$xs} {
            padding: 30px 18px;
        }
        @media #{$xss} {
            padding: 20px 8px;
        }
        .experience-skill {
            padding-right: 16px; 
            @media #{$md, $sm, $xs} {
                padding-right: 0; 
            }
            .pb-24 {
                @media #{$xss} {
                    padding-bottom: 12px; 
                }
            }
        }

        .progress-bar-group {
            .progress-bar {
                margin-bottom: 24px;

                &:last-of-type {
                    margin-bottom: 0;
                }                

                .label {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;
                }

                .bar {
                    position: relative;
                    height: 4px;
                    background: var(--st-common-light-white);
                    margin: 4px 0;

                    .fill {
                        height: 100%;
                        background: var(--st-theme-primary); 
                        position: relative;
                        width: 0%;
                        transition: width 1.2s ease-in-out;

                        &::after {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translate(50%, -50%);
                            width: 10px;
                            height: 10px;
                            background: var(--st-theme-primary);
                        }
                    }
                }
            }
        }

        .contact-form-wrapper {
            padding: 40px;
            background: var(--st-common-white);
            border: 1px solid var(--st-common-light-white);
            position: absolute;
            margin-right: 80px;
            bottom: -105px;

            @media #{$sm, $xs} {
                margin-right: unset;
                position: unset;
                margin-top: 32px;
            }
            .form-row {
                display: flex;
                gap: 32px;
                @media #{$sm, $xs} {
                    flex-direction: column;
                }
            }

            @media #{$lg, $md, $sm} {
                padding: 30px;
                .form-row {
                    gap: 20px;
                }
            }
            @media #{$xs} {
                padding: 20px;
                .form-row {
                    gap: 20px;
                }
            }

            .form-group {
                position: relative;
                width: 100%;
                input,
                select,
                textarea {
                    width: 100%;
                    padding: 10px 16px;
                    border: 1px solid var(--st-common-light-white);
                    border-radius: 3px;
                    outline: none;
                }

                select {
                    appearance: none;
                    color: var(--st-text-body);
                    
                }

                .icon {
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .textarea-group {
                .icon {
                    top: 12px;
                    transform: unset;
                }
                textarea {
                    height: 120px;
                }
            }
        }

        .experience-skill-wrapper {
            align-self: end;

            @media #{$md, $sm, $xs} {
                align-self: unset;
            }
        }
    }
}