/*----------------------------------------*/
/* 2.17 Testimonial
/*----------------------------------------*/

.testimonial-page-content {
    .top-content {
        background: var(--st-common-white);
    }

    .testimonial-v2 {
        padding-top: 35px;

        @media #{$xl, $lg, $md, $sm, $xs} {
            padding-top: unset;
        }
    }
}